{% include "header.html"%}
<div class="row">
    <div class="col">
        <h3>
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            TEPS: {{teps}}
        </h3>
    </div>
    <div class="col">
        <h3>
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            THSS: {{thss}}
        </h3>
    </div>
    <div class="col">
        <h3>
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            SPS: {{sps}}
        </h3>
    </div>
    <div class="col">
        <h3>
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            TNPSS: {{tnpss}}
        </h3>
    </div>
    <div class="col">
        <h3>
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            OIMTBI: {{oimtbi}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Najnjovejši incidenti</h2>
    </div>
    <div class="col">
        <h2>Klici</h2>
    </div>
</div>
{% include "footer.html"%}